.container2{
    width: 80%;
    height: 650px; 
    display: flex;
    flex-direction: column ;
    margin: 0 auto ;
}

.divisaosobre{
    display: flex;
    margin: 0 auto;
    gap: 3em;
}

.foto{
    width: 30%;
}

.caixa{
    margin: 1em auto;
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
}

.caixa::before{
    content: '';
    position: absolute;
    inset: -70px 90px;
    background: linear-gradient(315deg, var(--roxo), #00e1ff );
    transition: .5s;
    animation: animar 4s linear infinite;
}

@keyframes animar{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.caixa::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: rgb(20,20,20);
    border-radius: 50%;
    z-index: 1;
}


.conteudo{
    position: absolute;
    inset: 20px;
    border: 3px solid  var(--cor-texto);
    z-index: 2;
    border-radius: 50%;
}

.conteudo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sobre{
    text-align: left;
    width: 70%;
  }



.texto{
    font-family: var(--fonte-nome);
    color:  var(--cor-texto);
    font-size: 30px;
    margin: 1em 2em;
}

@media screen and (max-width: 1024px) {
    .container2{
        width: 125%;
        height: 500px;
    }

    .caixa{
        margin: 23px 27px;
    }


}


@media screen and (max-width: 768px) {
    .container2{
        width: 123%;
        height: 500px;
    }
    
    .divisaosobre{
        display: flex;
        flex-direction: column;
    }
    
    .foto{
        display: none;
    }

    .sobre{
        width: 100%;
    }

    .texto{
        text-align: center;
        font-size: 25px;
    }
}

